In [ ]:
# Basic logic building and pattern printing using python

In [1]:
#first pattern
'''***
   ***
   ***'''

akshay

In [3]:
for i in range(3):
    for j in range(3):
        print('*',end='')
    print()

***
***
***

In [ ]:
#Pattern - 2
'''*
   **
   ***
   ****'''

In [12]:
for i in range(4):
    for j in range(i+1):
        print("*",end='')
    print()

*
**
***
****

In [ ]:
# Pattern - 3

'''1
   12
   123
   1234'''

In [26]:
for i in range(4):
    for j in range(i+1):
        print(j+1,end='')
    print()

1
12
123
1234

In [ ]:
#Pattern - 4

'''1
   22
   333
   4444
   55555'''

In [3]:
for i in range(6):
    for j in range(i):
        print(i,end='')
    print()

1
22
333
4444
55555

In [ ]:
# Pattern - 5
'''****
   ***
   **
   *'''

In [60]:
for i in range(5):
    for j in range(i):
       print('*' * (5 - i),end='')
    print()

****
******
******
****

In [61]:
# Number of rows
rows = 4

for i in range(rows):
    # Print stars
    print('*' * (rows - i))

****
***
**
*

In [67]:
rows = 4

for i in range(rows):
    # Print stars
    print('*' * (rows - i))

****
***
**
*

In [68]:
rows = 4

for i in range(rows, 0, -1):  # Start from rows and go down to 1
    for j in range(i):  # Print numbers from 1 to i
        print(j + 1, end='')
    print()

1234
123
12
1

In [84]:
# Number of rows
rows = 4

for i in range(rows):
    # Print leading spaces
    print(' ' * (rows - i), end='')
    # Print stars
    print('*' * (2 * i + 1))

    *
   ***
  *****
 *******

In [5]:
# Number of rows
rows = 4

for i in range(rows, 0, -1):
    # Print leading spaces
    print(' ' * (rows - i), end='')
    # Print stars
    print('*' * (2 * i - 1))

*******
 *****
  ***
   *